.parent{
  display: flex;
  justify-content: center;
}

.child{
  width: 10%;
  height:50%;
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  font-size: 25px;
  background-color: bisque;
}

.child img{
  width: 50%;
}

.link{
  text-decoration: none;
}

.btn{
  background:#333ea8;
  color:#fff;
  padding: 1%;
  text-decoration: none;
  display: block;
}

.child2{
  border: 1px solid #ddd;
  width: 75%;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px, 8px,-8px #000;
}

.skill{
  margin:.5%;
  padding: .5%;
  color: #fff;
  border-radius: 10px;
  background: #4a55c8;
  border: 1px solid #333b8a;
  box-shadow: 0px 8px 8px -8px #000;
}